@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

:root {
    --azul: #2A7AE4;
    --cinza: #f5f5f5;
    --branco: #fff;
    --cinza-escuro: #464646;
    --footer-bg: #caf2fd;
}

.container {
    font-family: 'Raleway', sans-serif;    
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 100px;
}

.cabecalho__pesquisa {
    background-color: #f5f5f5;
    height: 40px;
    border-radius: 20px;
    width: 400px;
    padding: 8px 16px;           
}


.cabecalho__botao {
    border: 1px solid var(--azul);
    color: var(--azul);
    padding: 16px 48px;    
}

@media screen and (max-width: 768px) {
    .cabecalho {
        padding: 0;
    }
}

